.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

    padding: 12px 20px;

    border: none;
    border-radius: var(--kio-border-radius);

    background: var(--kio-primary);
    color: var(--kio-white);

    font-family: var(--kio-font-family);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;

    transition:
        background-color var(--kio-transition-fast),
        transform var(--kio-transition-fast);
}

.btn:hover {
    background: var(--kio-primary-hover);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

.btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}
