.kio-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

    padding: 12px 20px;

    border: none;
    border-radius: var(--kio-border-radius);

    background: var(--kio-primary);
    color: var(--kio-white);

    font-family: var(--kio-font-family);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;

    transition:
        background-color var(--kio-transition-fast),
        transform var(--kio-transition-fast);
}
.kio-btn:hover {
    background: var(--kio-primary-hover);
    filter: brightness(1.2);
}

.kio-btn:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.kio-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}
